<p id="notice"><%= notice %></p>

<strong>
<%= link_to '录入新书', new_book_path %>
</strong>

<h1>书库</h1>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
    </div>
  </div>

<%= render 'book'%>
